*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3E442B;
    --secondary-color:#c9c9ee;
    --tertiary-color: #6a7062;
    --accent-color: #aaAdc4;
    --accent2-color: #D6EEFF;
}

body{
    font-family: Montserrat, Arial, sans-serif;
}

header{
    background-color: var(--secondary-color);
}

.logo{
    width: 75px;
}

h1{
    font-size: 55px;
    color: var(--primary-color);
}

h2{
    color: var(--tertiary-color);
    font-size: 30px;
}

h3{
    font-weight: bold;
    text-align: center;
}

h4{
    color: var(--tertiary-color);
}

.hero{
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hero-hello{
    padding: 5.5%;
}

.hero-hello h3{
    color: var(--tertiary-color);
    font-size: 25px;
    margin-bottom: 5px;
}
.hero-image{
    width: 40%;
    border-radius: 100%;
    margin: auto;
}

.hero-buttons{
    margin: 5px;
    background-color: var(--secondary-color);
    border: none;
    font-family: montserrat;
    font-weight: bold;
    color: white;
    font-size: 1.05em;
    text-decoration: none;
}

.hero-buttons:hover{
    margin: 5px;
    background-color: var(--secondary-color);
    border: none;
    font-family: montserrat;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.05em;
}

.flex-row{
    display: flex;
}

.about-me{
    background-color: white;
    text-align: center;
    padding: 5% 20%;

}

.about-me-header{
    padding-bottom: 10px;
}
section h2{
    text-align: center;
    padding-bottom: 10px;
}

section p{
    text-align: center;
}

.experience{
    padding: 5%;
    background-color: var(--primary-color);
}

.h2-white{
    color:white;
}

.expertise{
    display:flex;
    flex-wrap: wrap;
}

.icon{
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}
.expertise-item{
    width: 35%;
    flex: 1;
    background-color: white; opacity: .75;
    margin: 15px 10px 15px 10px ;
    padding: 3%;
    color: var(--primary-color);
    border: 2px solid;
    border-radius: 25px;
}

.my-work{
    display:flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.portfolio{
    padding: 5% 5%;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
}

.portfolio-item{
    width: 100%;
    padding: 10px;
    text-align: center;
    flex: 1;
}

.portfolio-item p {
    padding: 10px;
}

.portfolio-item h3{
    color:var(--primary-color)
}

.featured-work{
    display: flex;
    padding: 2%;
    align-items: center;
}

.featured-work img{
    width: 90%;
}

.featured-work-h3{
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color)
}

.featured-work-h3:hover{
    color:var(--secondary-color)
}
.featured-work-text{
    text-align: left;
}

.featured-work h4{
    color:var(--tertiary-color)
}

.contact{
    background-color: var(--tertiary-color);
    padding: 5% 20%;
}

.contact-text{
    text-align: center;
}

.contact-text-block{
    margin-top: 10px;
}

.contact-text-block h3{
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.contact-text-block p{
    font-size: 20px;
}

.contact-text-block a{
    color: white;
    text-decoration: none;
}

.contact-icons{
    margin-top: 8px;
    color: white;
    text-align: center;
}

.contact-icons:hover{
    color:var(--secondary-color);
}

footer{
    background-color: var(--secondary-color);
    padding: 1%;
    color: white;
    display: flex;
}
.footer-text{ 
    margin-right: 5px;
}

.footer-icons{
    color:white;
    text-decoration: none;
}
.footer-icons:hover{
    color:var(--primary-color);
}

@media screen and (max-width: 980px) {
    .header-h3{
        text-align: left;
    }

    .featured-work img{
        max-width: 90%;
    }

}

@media screen and (max-width: 768px) {
    .hero-image{
        width: 40%;
        margin: auto;
    }
    
    section{
        padding: 30px 15px; 
    }

    .portfolio-item {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 575px){
    .hero-image{
        display: none;
    }

    .featured-work{
        flex-direction: column;
    }

    .my-work{
        flex-direction: column;
    }
}